<section class="contact_details sec-padd">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="default-blog-news wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">

                  <div class="lower-content">
                      <div class="text">
                          <h2>Bharath Flats</h2>
                          <h4>Location Neelankarai</h4>
                          <p>2BHK Apartments</p>
                      </div>
                      <div class="clear_fix" style="padding-bottom: 20px">
                          <div class="float_left">
                              <div class="link_btn ">
                                  <a href="#" class="thm-btn">Download Broucher</a>
                              </div>
                          </div>
                          <div class="float_right">
                              <div class="link_btn ">
                                  <a href="#" class="thm-btn">Contact</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="img-box">
                      <img src="assets/images/blog/3.jpg" style="width:100%" alt="News">
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="section-title">
                  <h3>Specification</h3>
              </div>
              <div>
                  <div class="accordion-box accordion-box1">
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn active">
                              <p class="title">Door and Windows</p>
                              <div class="toggle-icon">
                                  <span class="plus fa fa-angle-right"></span><span class="minus fa fa-angle-down"></span>
                              </div>
                          </div>
                          <div class="acc-content collapsed">
                              <div class="text">
                                  <ul>
                                      <li>
                                          <p>Main door : Teakwood and shutter designed</p>
                                      </li>
                                      <li>
                                          <p>Windows : Openable UPVC window</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn ">
                              <p class="title">Structure Works</p>
                              <div class="toggle-icon">
                                  <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                              </div>
                          </div>
                          <div class="acc-content ">
                              <div class="text">
                                  <ul>
                                      <li>
                                          <p>Main door : Teakwood and shutter designed</p>
                                      </li>
                                      <li>
                                          <p>Windows : Openable UPVC window</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn">
                              <p class="title">Plumbing and Sanitary works</p>
                              <div class="toggle-icon">
                                  <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                              </div>
                          </div>
                          <div class="acc-content">
                              <div class="text">
                                  <ul>
                                      <li>
                                          <p>Main door : Teakwood and shutter designed</p>
                                      </li>
                                      <li>
                                          <p>Windows : Openable UPVC window</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn">
                              <p class="title">Electrical works</p>
                              <div class="toggle-icon">
                                  <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                              </div>
                          </div>
                          <div class="acc-content">
                              <div class="text">
                                  <ul>
                                      <li>
                                          <p>Main door : Teakwood and shutter designed</p>
                                      </li>
                                      <li>
                                          <p>Windows : Openable UPVC window</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn">
                              <p class="title">Electrical works</p>
                              <div class="toggle-icon">
                                  <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                              </div>
                          </div>
                          <div class="acc-content">
                              <div class="text">
                                  <ul>
                                      <li>
                                          <p>Main door : Teakwood and shutter designed</p>
                                      </li>
                                      <li>
                                          <p>Windows : Openable UPVC window</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
              <br><br>
          </div>
      </div>



  </div>
</section>

<div class="container">
  <div class="border-bottom"></div>
</div>

