<section class="contact_details sec-padd">
  <div class="container">

      <section class="consultation sec-padd">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                      <div class="img-box">
                          <img src="assets/images/resource/consult.jpg" alt="">
                      </div>
                      <div class="default-form-area">
                          <div class="section-title center">
                              <h3>V.Radhakrishnan – Managing Director</h3>
                          </div>
                          <p align="justify">V.Radhakrishnan, a Civil Engineer, is the founder and Managing Director of
                              Keshthana Infrastructure Pvt. Ltd..He incorporated the company in April 2012.</p>
                          <p align="justify">He is a first generation Entrepreneur, acquiring over 25 years of extensive
                              background and affluent experience in various sectors of construction industry.</p>
                          <p align="justify">His experiences include Construction of Heavy Industrial Buildings, High Raised
                              Residential, Institutional and Commercial Buildings, Express ways, Bridges,
                              Marine infrastructures, Sewage Treatment Plants, Water Treatment Plants, Design
                              and construction of IBS (Industrialized Building Systems) and Construction of
                              vibration prevention walls and Sound barrier walls.</p>
                          <p align="justify">  Prior to his entrepreneurship, he worked with leading Construction Companies in
                              South East Asian countries (Australia, Singapore, Malaysia and Indonesia). He
                              also associated with Ramky Infrastructure Ltd, Consolidated Construction
                              Consortium Ltd and MARG Ltd., by heading the Business Units at Regional levels
                              in India.</p>
                          <p align="justify">He is an eminent guest lecturer in Meenakshi Sundararajan Engineering College &
                              Sri Ramanujar Engineering College, Chennai, Tamil Nadu.</p>
                      </div>
                  </div>
              </div>

          </div>
      </section>

      <section class="consultation sec-padd">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                      <div class="img-box">
                          <img src="assets/images/resource/consult.jpg" alt="">
                      </div>
                      <div class="default-form-area">
                          <div class="section-title center">
                              <h3>Bharathi Radhakrishnan - Director </h3>
                          </div>
                          <p align="justify">Bharathi Radhakrishnan is the Dirctor, heading Human Resourse and Finance &
                              Accounts divisions of Keshthana Infrastructure Private Limited. She holds
                              Bachelor's degree in Information technology and a Master's degree in Business
                              Adminstration from Anna University.</p>
                          <p align="justify">She is also a first generation entrepreneur, gaining over 10 years of experience
                              in Computer Hardware, Networking, Production and Quality Control.</p>
                          <p align="justify">She acquires distinguished skills in Production Management and Total Quality
                              Management .She has successfully accomplished projects on Quality Control,
                              Productivity Improvement and Training Module preparation and implementeation
                              for Production department during her tenure in HCL Infosystems Ltd,
                              Pondicherry.</p>
                      </div>
                  </div>
              </div>

          </div>
      </section>


  </div>
</section>

<div class="container">
  <div class="border-bottom"></div>
</div>