<section class="contact_details sec-padd">
  <div class="container">
      <div class="section-title">
          <h3>Keshthana Overview</h3>
      </div>
      <div class="text">
          <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven organization
              that delivers world class Engineering, Procurement and Construction services to its clients,
              thereby making itself a "niche" in the Construction industry.</p>
      </div>
      <br><br>
      <div class="section-title">
          <h3>Vision</h3>
      </div>
      <div class="text">
          <p>To become one of the leading Engineering, Procurement & Construction companies in India by
              executing projects with economical and state-of-the-art construction techniques, consistent
              quality in stipulated time with uncompromised HSE standards.</p>
      </div>
      <br><br>
      <div class="section-title">
          <h3>Mission</h3>
      </div>
      <div class="text">
          <p>To present ourselves as most prominent, ethical infrastructure industry by delivering
              exceptional quality projects through cost effective work executions, meeting time schedules,
              goals and budgets.</p>
          <p>We pledge to establish long-lasting relationships with our customers, suppliers, subcontractors
              and all other professional associates by exceeding their expectations and gaining trust through
              our incredible performance and professionalism, integrity and honesty by every individual of
              the KIPL team.</p>
          <p>To groom a motivated, responsible work environment that encourages new ideas, innovations and
              growth.</p>
      </div>


  </div>
</section>