<section class="why-us">
  <div class="container">

      <div class="row clearfix">
          <!--Featured Service -->
          <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="0ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/1.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-graphic"></span></div>
                          <h4 class="title"><a href="service-single.html">India Cements Limited</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-graphic"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">India Cements Limited</a></h4>
                                  <div class="text">The Company is the largest producer of cement in South
                                      India. The Company has well established brands- Shankar Super Power,
                                      Coromandel Super Power and Raasi Super Power.</div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <!--Featured Service -->
          <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="300ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/2.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-layers"></span></div>
                          <h4 class="title"><a href="service-single.html">Alliance group</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-layers"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">Alliance group</a></h4>
                                  <div class="text">Alliance Infrastructure Projects Pvt. Ltd. is a leading
                                      infrastructure company that constructs posh apartments in integrated
                                      townships, ultra luxury villas, or shopping malls & multiplexes. </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!--Featured Service -->
          <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="600ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/3.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-computer"></span></div>
                          <h4 class="title"><a href="service-single.html">L&T Construction</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-computer"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">L&T Construction</a></h4>
                                  <div class="text">Larsen & Toubro (L&T) is India’s largest technology,
                                      engineering, manufacturing and construction organization with a record
                                      of over 70 years. L&T Construction is the largest construction
                                      organization in the country. </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

           <!--Featured Service -->
           <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="600ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/3.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-computer"></span></div>
                          <h4 class="title"><a href="service-single.html">Thermax Instrumentation</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-computer"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">Thermax Instrumentation</a></h4>
                                  <div class="text">Thermax Limited is an INR 5,375 crore (USD 1.05 Billion) company, providing a range of engineering solutions to the energy and environment sectors. </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="600ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/3.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-computer"></span></div>
                          <h4 class="title"><a href="service-single.html">Keyem Engineering</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-computer"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">Keyem Engineering</a></h4>
                                  <div class="text">Keyem Engineering is a leading Infrastructure company established in 1996. They have been executing major projects in Water supply schemes, Water, Waste Water and Sewage Collection systems and treatment plants. </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--Featured Service client 2-->
          <div class="featured-service col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box wow fadeIn animated animated" data-wow-delay="600ms" data-wow-duration="1500ms"
                  style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                  <div class="image-box">
                      <figure class="image"><a href="service-single.html"><img src="assets/images/resource/3.jpg"
                                  alt=""></a></figure>
                      <div class="caption-box">
                          <div class="icon"><span class="icon-computer"></span></div>
                          <h4 class="title"><a href="service-single.html">Government of Tamilnadu</a></h4>
                      </div>
                      <!--Overlay-->
                      <div class="overlay-box">
                          <div class="icon_box"><span class="icon-computer"></span></div>
                          <div class="overlay-inner">
                              <div class="overlay-content">
                                  <h4 class="title"><a href="service-single.html">Government of Tamilnadu</a></h4>
                                  <div class="text">Buildings Organization of Public Works Department provides quality services for building safe Government buildings at reasonable cost, by utilizing modern technologies and experience attained through years of practice. </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>