<section class="contact_details sec-padd">
  <div class="container">
      <div class="section-title">
          <h3>Quality Policy</h3>
      </div>
      <div class="text">
          <p>We at Keshthana consistently deliver services, meeting our customer satisfaction in-time, first
              time and every time through innovation and continual improvement.</p>
      </div>
      <br><br>
      <div class="section-title">
          <h3>Quality Objectives</h3>
      </div>
      <div class="text">
          <ul>
              <li class="fa fa-long-arrow-right" style="color:#848484"><span style="font-family: 'Hind', sans-serif">Work
                      towards our motto: "Quality at all costs" and inculcating a quality culture among
                      employees.</span></li><br />
              <li class="fa fa-long-arrow-right" style="color:#848484"><span style="font-family: 'Hind', sans-serif">Provide
                      necessary resources to achieve required quality standards.</span></li>
              <li class="fa fa-long-arrow-right" style="color:#848484"><span style="font-family: 'Hind', sans-serif">Ensure
                      Quality /Workmanship Quality Education System (QES/WQES) training programs to employees
                      at all levels.</span> </li>
              <li class="fa fa-long-arrow-right" style="color:#848484"><span style="font-family: 'Hind', sans-serif">Periodic
                      monitoring of quality standards, Analyze Failures and take Corrective actions.</span></li><br />
              <li class="fa fa-long-arrow-right" style="color:#848484"><span style="font-family: 'Hind', sans-serif">Record
                      client feedback on quality levels delivered.</span></li>
      
      </ul></div>
  </div>
  <br><br>
  <div class="border-bottom"></div>
</section>