<div class="inner-banner has-base-color-overlay text-center" style="background: url(assets/images/background/1.jpg);">
  <div class="container">
      <div class="box">
          <h3>Bharat Flats</h3>
      </div><!-- /.box -->
  </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
  <div class="container">
      <div class="pull-left">
          <ul class="list-inline link-list">
              <li>
                  Bharat Flats
              </li>
          </ul><!-- /.list-line -->
      </div><!-- /.pull-left -->
      <div class="pull-right">
          <nav class="menuzord">
              <ul class="menuzord-menu">
                  <li><a routerLink="/landingpage/product-details/product-introduction" routerLinkActive="active">Introduction</a></li>
                  <li><a routerLink="/landingpage/product-details/product-advantages" routerLinkActive="active">Advantages</a></li>
                  <li><a routerLink="/landingpage/product-details/bffloorplan" routerLinkActive="active">Floor Plan</a></li>
                  <li><a routerLink="/landingpage/product-details/bfspec" routerLinkActive="active">Specification</a></li>
                  <li><a routerLink="/landingpage/product-details/bflocation" routerLinkActive="active">Location</a></li>
                  <li><a routerLink="/landingpage/product-details/bfpictures" routerLinkActive="active">Pictures</a></li>
                  <li><a routerLink="/landingpage/product-details/bfsiteprogress" routerLinkActive="active">Site progress</a></li>
              </ul>
          </nav>
      </div>
  </div><!-- /.container -->
</div>
<router-outlet></router-outlet>
<div class="container">
  <div class="border-bottom"></div>
</div>