<div class="inner-banner has-base-color-overlay text-center" style="background: url(assets/images/background/1.jpg);">
  <div class="container">
      <div class="box">
          <h3>contact Us</h3>
      </div><!-- /.box -->
  </div><!-- /.container -->
</div>

<section class="contact_details sec-padd">
  <div class="container">

      <div class="text">
          <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven organization
              that delivers world class Engineering, Procurement and Construction services to its clients,
              thereby making itself a "niche" in the Construction industry. </p>
      </div>
      <br><br>
      <div class="row">
          <div class="col-md-4 col-sm-8 col-xs-12">
              <div class="default-cinfo wow fadeInUp animated" style="visibility: visible; animation-name: slideInLeft;">
                  <div class="accordion-box">
                      <!--Start single accordion box-->
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn active">
                              Corporate Office
                          </div>
                          <div class="acc-content collapsed">
                              <ul class="contact-infos">
                                  <li>
                                      <div class="icon_box">
                                          <i class="fa fa-home"></i>
                                      </div><!-- /.icon-box -->
                                      <div class="text-box">
                                          <p><b>Address:</b><br>
                                              #6/40, 1st Street, Karpagam avenue,
                                              Raja Annamalaipuram,
                                              Chennai-600 028.</p>
                                      </div><!-- /.text-box -->
                                  </li>
                                  <li>
                                      <div class="icon_box">
                                          <i class="fa fa-phone"></i>
                                      </div><!-- /.icon-box -->
                                      <div class="text-box">
                                          <p><b>Call Us:</b> <br>+91 – 44 – 4301 5808</p>
                                      </div><!-- /.text-box -->
                                  </li>
                                  <li>
                                      <div class="icon_box">
                                          <i class="fa fa-fax"></i>
                                      </div><!-- /.icon-box -->
                                      <div class="text-box">
                                          <p><b>Fax:</b> <br>+91 – 44 – 4301 5808</p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="icon_box">
                                          <i class="fa fa-envelope"></i>
                                      </div><!-- /.icon-box -->
                                      <div class="text-box">
                                          <p><b>Mail Us:</b> <br>info@keshthana.com
                                              <br>procurement@keshthana.com
                                              <br>hr@keshthana.com
                                          </p>
                                      </div>
                                  </li>


                              </ul>
                          </div>
                      </div>




                  </div>
              </div>

          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="home-google-map wow slideInRight animated" style="visibility: visible; animation-name: slideInRight;">
                  <div class="google-map" id="contact-google-map" data-map-lat="41.363800" data-map-lng="-74.273110"
                      data-icon-path="assets/images/logo/map-marker.png" data-map-title="Chester" data-map-zoom="11">

                  </div>

              </div>
          </div>
      </div>
  </div>
</section>

<div class="container">
  <div class="border-bottom"></div>
</div>