<section class="contact_details sec-padd">
  <div class="container">
      <div class="section-title">
          <h3>Health</h3>
      </div>
      <div class="text">
          <p>Occupational health at KESHTHANA has a strong focus on primary prevention of hazards and is
              directed towards protecting the health of its employees and contractors working within its
              facilities.</p>
      </div>
      <br><br>
      <div class="section-title">
          <h3>Safety</h3>
      </div>
      <div class="text">
          <p>At Keshthana, safety of its employees and contractors at work sites, projects and offices is of
              cardinal importance and integral to its business activities. The organization has adopted
              global standards and systems to provide a safe work environment.</p>
      </div>
      <br><br>
      <div class="section-title">
          <h3>Environment</h3>
      </div>
      <div class="text">
          <p>Keshthana believes that it has a social responsibility to mitigate the impact of its business on
              the environment and local communities. The organization, therefore, places great significance
              on using naturally available resources efficiently, responsibly and safely, undertaking
              protection of the environment through conservation and reuse of resources. Continuous
              improvement of its business processes is sought to recycle and reuse waste, manage waste water
              streams and reduce specific energy expenditure.</p>
      </div>
      <br><br>
      <div class="border-bottom"></div>
  </div>
</section>
