
        <div class="inner-banner has-base-color-overlay text-center" style="background: url(assets/images/background/1.jpg);">
          <div class="container">
              <div class="box">
                  <h3>Equipment and Machinery</h3>
              </div><!-- /.box -->
          </div><!-- /.container -->
      </div>

      <section class="about-faq sec-padd">
          <div class="container">
              <div class="section-title center">
                  <h2>Equipment and Machinery</h2>
              </div>
              <div class="text">
                  <p>All the below listed machineries and Equipments are in compliance with internationally acclaimed
                      standards and norms.</p>
              </div>
              <br /><br />
              <div class="row">

                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="accordion-box accordion-box1">
                          <!--Start single accordion box-->
                          <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                              <div class="acc-btn active">
                                  <p class="title">Survey Equipments</p>
                                  <div class="toggle-icon">
                                      <span class="plus fa fa-angle-right"></span><span class="minus fa fa-angle-down"></span>
                                  </div>
                              </div>
                              <div class="acc-content collapsed">
                                  <div class="text">
                                      <ul>
                                          <li>
                                              <p>Rodo Metre</p>
                                          </li>
                                          <li>
                                              <p>Total Station</p>
                                          </li>
                                          <li>
                                              <p>Auto Level</p>
                                          </li>
                                          <li>
                                              <p>Electronic Distance Meter</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!--Start single accordion box-->
                          <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                              <div class="acc-btn ">
                                  <p class="title">Concrete Equipments</p>
                                  <div class="toggle-icon">
                                      <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                  </div>
                              </div>
                              <div class="acc-content">
                                  <div class="text">
                                      <ul>
                                          <li>
                                              <p>Rodo Metre</p>
                                          </li>
                                          <li>
                                              <p>Total Station</p>
                                          </li>
                                          <li>
                                              <p>Auto Level</p>
                                          </li>
                                          <li>
                                              <p>Electronic Distance Meter</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!--Start single accordion box-->
                          <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                              <div class="acc-btn">
                                  <p class="title">QC Lab Equipments</p>
                                  <div class="toggle-icon">
                                      <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                  </div>
                              </div>
                              <div class="acc-content">
                                  <div class="text">
                                      <ul>
                                          <li>
                                              <p>Rodo Metre</p>
                                          </li>
                                          <li>
                                              <p>Total Station</p>
                                          </li>
                                          <li>
                                              <p>Auto Level</p>
                                          </li>
                                          <li>
                                              <p>Electronic Distance Meter</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!--Start single accordion box-->
                          <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                              <div class="acc-btn">
                                  <p class="title">Construction Equipments and Machinery</p>
                                  <div class="toggle-icon">
                                      <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                  </div>
                              </div>
                              <div class="acc-content">
                                  <div class="text">
                                      <ul>
                                          <li>
                                              <p>Rodo Metre</p>
                                          </li>
                                          <li>
                                              <p>Total Station</p>
                                          </li>
                                          <li>
                                              <p>Auto Level</p>
                                          </li>
                                          <li>
                                              <p>Electronic Distance Meter</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                              <div class="acc-btn">
                                  <p class="title">Scaffolding and Form work</p>
                                  <div class="toggle-icon">
                                      <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                  </div>
                              </div>
                              <div class="acc-content">
                                  <div class="text">
                                      <ul>
                                          <li>
                                              <p>Rodo Metre</p>
                                          </li>
                                          <li>
                                              <p>Total Station</p>
                                          </li>
                                          <li>
                                              <p>Auto Level</p>
                                          </li>
                                          <li>
                                              <p>Electronic Distance Meter</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="img-box">
                          <img src="assets/images/project/10.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="container">
          <div class="border-bottom"></div>
      </div>