
        <div class="inner-banner has-base-color-overlay text-center" style="background: url(assets/images/background/1.jpg);">
          <div class="container">
              <div class="box">
                  <h3>Building system and products</h3>
              </div><!-- /.box -->
          </div><!-- /.container -->
      </div>

      <section class="our-services style-2">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="service-single.html"><img src="assets/images/service/1.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="service-single.html">
                                  <h4>Wall Textures & Interiors</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="#"><img src="assets/images/service/2.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="service-single.html">
                                  <h4>Soil Stabilization</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="#"><img src="assets/images/service/3.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="#">
                                  <h4>Roof Shingles</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="#"><img src="assets/images/service/4.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="service-single.html">
                                  <h4>False Ceilings</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="#"><img src="assets/images/service/5.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="service-single.html">
                                  <h4>Wall Fascia systems</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-our-service wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                          <figure class="img-box">
                              <a href="service-single.html"><img src="assets/images/service/6.jpg" alt="Awesome Image"></a>
                          </figure>
                          <div class="text-box">
                              <a href="#">
                                  <h4>Modular Furniture</h4>
                              </a>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
      </section>

      <div class="container">
          <div class="border-bottom"></div>
      </div>