<section class="contact_details sec-padd">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="default-blog-news wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">

                  <div class="lower-content">
                      <div class="text">
                          <h2>Bharath Flats</h2>
                          <h4>Location Neelankarai</h4>
                          <p>2BHK Apartments</p>
                      </div>
                      <div class="clear_fix" style="padding-bottom: 20px">
                          <div class="float_left">
                              <div class="link_btn ">
                                  <a href="#" class="thm-btn">Download Broucher</a>
                              </div>
                          </div>
                          <div class="float_right">
                              <div class="link_btn ">
                                  <a href="#" class="thm-btn">Contact</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="img-box">
                      <img src="assets/images/blog/3.jpg" style="width:100%" alt="News">
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="section-title">
                  <h3>Pictures</h3>
              </div>

              <div class="row masonary-layout filter-layout" style="position: relative; height: 908.298px;"
                  id="masonary-layout2">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/1.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/1.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/2.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/2.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 ">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/3.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/3.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="single-project">
                          <div class="img-box">
                              <img src="assets/images/project/4.jpg" alt="Awesome Image">
                              <div class="overlay">
                                  <div class="box">
                                      <div class="content">
                                          <div class="top">
                                              <ul class="list-inline">
                                                  <li>
                                                      <a data-group="1" href="assets/images/project/4.jpg" class="img-popup"><i
                                                              class="fa fa-search-plus"></i></a>
                                                  </li>
                                              </ul>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
              <br><br>
          </div>
      </div>



  </div>
</section>

