<div class="inner-banner has-base-color-overlay text-center" style="background: url(images/background/1.jpg);">
  <div class="container">
      <div class="box">
          <h3>Services</h3>
      </div><!-- /.box -->
  </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
  <div class="container">
      <div class="pull-left">
          <ul class="list-inline link-list">
              <li>
                  Services
              </li>
          </ul><!-- /.list-line -->
      </div><!-- /.pull-left -->
      <div class="pull-right">
          <nav class="menuzord">
              <ul class="menuzord-menu">
                  <li><a (click)="onClick1()" routerLinkActive="active" class="innerScroll">Residential</a></li>
                  <li><a (click)="onClick()" routerLinkActive="active" class="innerScroll">Commercial</a></li>
                  <li><a (click)="onClick2()" routerLinkActive="active" class="innerScroll">Public Spaces</a></li>
                  <li><a (click)="onClick3()" routerLinkActive="active" class="innerScroll">Sports Complex</a></li>
              </ul>
          </nav>
      </div>
  </div><!-- /.container -->
</div>

<section class="about-faq sec-padd" id="engineering">

  <div class="section-title center">
      <h2>Residential</h2>
  </div>
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-left: 20px;">
              <h4>About Keshthana Infrastructure</h4>
              <br>
              <div class="text">
                  <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven
                      organization that delivers world class Engineering, Procurement and Construction
                      services to its clients, thereby making itself a "niche" in the Construction industry.</p><br>
                  <p>We commit to projects that in turn lead to national progress, not compromising on
                      safety, quality, customer satisfaction and environmental protection that are integral
                      part of KIPL's vision and mission.</p><br>
                  <p>KIPL’s reputation and businesses rely on timely completion of projects with the support
                      of our valuable clients, consultants, sub-contractors and vendors. </p><br>
                  <p>We are also strongly committed towards quality policy and objectives. </p><br>
              </div>


          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-right: 20px;">
              <img src="assets/images/blog/7.jpg" alt="News">
          </div>
      </div>

  </div>

</section>

<section class="about-faq sec-padd" id="construction">

  <div class="section-title center">
      <h2>Commercial</h2>
  </div>
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-left: 20px;">
              <img src="assets/images/blog/7.jpg" alt="News">
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-right: 20px;">
              <h4>About Keshthana Infrastructure</h4>
              <br>
              <div class="text">
                  <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven
                      organization that delivers world class Engineering, Procurement and Construction
                      services to its clients, thereby making itself a "niche" in the Construction industry.</p><br>
                  <p>We commit to projects that in turn lead to national progress, not compromising on
                      safety, quality, customer satisfaction and environmental protection that are integral
                      part of KIPL's vision and mission.</p><br>
                  <p>KIPL’s reputation and businesses rely on timely completion of projects with the support
                      of our valuable clients, consultants, sub-contractors and vendors. </p><br>
                  <p>We are also strongly committed towards quality policy and objectives. </p><br>
              </div>


          </div>
      </div>


  </div>

</section>

<section class="about-faq sec-padd" id="engineering2">

  <div class="section-title center">
      <h2>Public Spaces</h2>
  </div>
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-left: 20px;">
              <h4>About Keshthana Infrastructure</h4>
              <br>
              <div class="text">
                  <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven
                      organization that delivers world class Engineering, Procurement and Construction
                      services to its clients, thereby making itself a "niche" in the Construction industry.</p><br>
                  <p>We commit to projects that in turn lead to national progress, not compromising on
                      safety, quality, customer satisfaction and environmental protection that are integral
                      part of KIPL's vision and mission.</p><br>
                  <p>KIPL’s reputation and businesses rely on timely completion of projects with the support
                      of our valuable clients, consultants, sub-contractors and vendors. </p><br>
                  <p>We are also strongly committed towards quality policy and objectives. </p><br>
              </div>


          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-right: 20px;">
              <img src="assets/images/blog/7.jpg" alt="News">
          </div>
      </div>

  </div>

</section>

<section class="about-faq sec-padd" id="planning">

  <div class="section-title center">
      <h2>Sports Complex </h2>
  </div>
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-left: 20px;">
              <img src="assets/images/blog/7.jpg" alt="News">
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="about-info" style="padding-right: 20px;">
              <h4>About Keshthana Infrastructure</h4>
              <br>
              <div class="text">
                  <p>Keshthana Infrastructure private Limited is a fast growing, professionally driven
                      organization that delivers world class Engineering, Procurement and Construction
                      services to its clients, thereby making itself a "niche" in the Construction industry.</p><br>
                  <p>We commit to projects that in turn lead to national progress, not compromising on
                      safety, quality, customer satisfaction and environmental protection that are integral
                      part of KIPL's vision and mission.</p><br>
                  <p>KIPL’s reputation and businesses rely on timely completion of projects with the support
                      of our valuable clients, consultants, sub-contractors and vendors. </p><br>
                  <p>We are also strongly committed towards quality policy and objectives. </p><br>
              </div>


          </div>
      </div>


  </div>

</section>

<div class="container"><br /><br />
  <div class="border-bottom"></div>
  <br /><br />
</div>