

<section class="rev_slider_wrapper" >
  <div id="slider1" class="rev_slider" data-version="5.0">
      <ul>

          <li data-transition="fade">
              <img src="assets/images/slider/1.jpg" alt="" width="1920" height="550" data-bgposition="top center"
                  data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

              <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="15" data-y="top" data-voffset="125"
                  data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                  data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                  <div class="slide-content-box">
                      <h1>Delivering your Divine Land. <br>Live who you are.</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br />elit, sed do eiusmod tempor
                          incididunt. </p>
                  </div>
              </div>

          </li>
          <li data-transition="fade">
              <img src="assets/images/slider/2.jpg" alt="" width="1920" height="580" data-bgposition="top center"
                  data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

              <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="15" data-y="center"
                  data-voffset="-4" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                  data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="500">
                  <div class="slide-content-box">
                      <h1>We are just a click or call away</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br />elit, sed do eiusmod tempor
                          incididunt. </p>

                  </div>
              </div>
          </li>
          <li data-transition="fade">
              <img src="assets/images/slider/3.jpg" alt="" width="1920" height="580" data-bgposition="top center"
                  data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

              <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="15" data-y="top" data-voffset="125"
                  data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                  data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                  <div class="slide-content-box">
                      <h1>Coming soon to a closing near you</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br />elit, sed do eiusmod tempor
                          incididunt. </p>
                  </div>
              </div>

          </li>
          <li data-transition="fade">
              <img src="assets/images/slider/2.jpg" alt="" width="1920" height="580" data-bgposition="top center"
                  data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

              <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="15" data-y="center"
                  data-voffset="-4" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                  data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="500">
                  <div class="slide-content-box">
                      <h1>Keshthana, beyond sale</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br />elit, sed do eiusmod tempor
                          incididunt. </p>

                  </div>
              </div>
          </li>
      </ul>
  </div>
</section>

<section class="about-faq sec-padd">

    <div class="section-title center">
        <h2>About us</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-info" style="padding-left: 20px;">
                <h4 (click)="loadScript()">About Keshthana Infrastructure</h4>
                <br>
                <div class="text">
                    <p align="justify">Keshthana Infrastructure private Limited is a fast growing, professionally driven
                        organization that delivers world class Engineering, Procurement and Construction
                        services to its clients, thereby making itself a "niche" in the Construction industry.</p><br>
                    <p align="justify">We commit to projects that in turn lead to national progress, not compromising on
                        safety, quality, customer satisfaction and environmental protection that are integral
                        part of KIPL's vision and mission.</p><br>
                    <p align="justify">KIPL’s reputation and businesses rely on timely completion of projects with the support
                        of our valuable clients, consultants, sub-contractors and vendors. </p><br>
                    <p align="justify">We are also strongly committed towards quality policy and objectives. </p><br>
                </div>


            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-info" style="padding-right: 20px;">
                <img src="assets/images/blog/7.jpg" alt="News">
            </div>
        </div>

    </div>

</section>


<div style="padding-left:20px; padding-right:20px;">
    <div class="border-bottom"></div>
</div>

<section class="latest-project sec-padd" style="padding-bottom:0;">
    <div class=" clear_fix" style="padding-left:20px; padding-right:20px;">
        <div class="section-title post-filter-head">
            <h2>What we do</h2>
        </div>

        <ul class="post-filter list-inline">
            <li class="active" data-filter=".wepc">
                <span>Property Development</span>
            </li>
            <li data-filter=".wpmc">
                <span>EPC</span>
            </li>
            <li data-filter=".wservices">
                <span>Products & Services</span>
            </li>

        </ul>

        <div class="row masonary-layout filter-layout clear_fix" id="masonary-layout1">
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wpmc">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/1.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Engineering</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wepc">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/2.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Residential</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wpmc wservices">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/4.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Procurement</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wepc wservices">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/5.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Commercial</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wpmc">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/6.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Construction</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wepc">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/7.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Sports Complex</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item wservices">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/8.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Project Management Consultancy</h5>
                    </div>
                </div>
            </div>


        </div><!-- /.row -->
        <br /><br />
        <div class="border-bottom"></div>


    </div><!-- /.container -->
</section><!-- /.latest-project sec-pad -->

<section class="latest-project sec-padd" style="padding-bottom:0;">
    <div class=" clear_fix" style="padding-left:20px; padding-right:20px;">
        <div class="section-title post-filter-head">
            <h2>Ongoing Projects</h2>
        </div>

        <ul class="post-filter list-inline">
            <li class="active" data-filter=".Consulting">
                <span>Property Development</span>
            </li>
            <li data-filter=".Finance">
                <span>EPC</span>
            </li>
            <li data-filter=".Marketing">
                <span>Services</span>
            </li>

        </ul>

        <div class="row masonary-layout filter-layout clear_fix" id="masonary-layout2">
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Consulting">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/1.jpg" alt="Awesome Image" />


                    </div>
                    <div class="title center">
                        <h5>Bharat Flats</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Consulting">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/2.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Keshthana Castle</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Marketing Finance">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/4.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Captive Power Plant</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Consulting Marketing">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/5.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Kudil Thotam</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Finance">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/6.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>GIS Substation</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Finance">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/7.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>Clinker Hopper</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 filter-item Marketing">
                <div class="single-project">
                    <div class="img-box">
                        <img src="assets/images/project/8.jpg" alt="Awesome Image" />

                    </div>
                    <div class="title center">
                        <h5>International Meet</h5>
                    </div>
                </div>
            </div>


        </div><!-- /.row -->
        <br /><br /><br />
        <div class="border-bottom"></div>


    </div><!-- /.container -->
</section><!-- /.latest-project sec-pad -->


<section class="clients-section sec-padd">
    <div style="padding-left:20px; padding-right:20px;">
        <div class="section-title">
            <h2>Clients</h2>
        </div>
        <div class="client-carousel owl-carousel owl-theme">

            <div class="item tool_tip" title="media partner">
                <img src="assets/images/clients/1.png" alt="Awesome Image">
            </div>
            <div class="item tool_tip" title="media partner">
                <img src="assets/images/clients/2.png" alt="Awesome Image">
            </div>
            <div class="item tool_tip" title="media partner">
                <img src="assets/images/clients/3.png" alt="Awesome Image">
            </div>
            <div class="item tool_tip" title="media partner">
                <img src="assets/images/clients/4.png" alt="Awesome Image">
            </div>
            <div class="item tool_tip" title="media partner">
                <img src="assets/images/clients/5.png" alt="Awesome Image">
            </div>

        </div>
    </div>
</section>


<section class="testimonials-section sec-padd">
    <div class="container">
        <div class="section-title center">
            <h2>What Customer Say</h2>
        </div>

        <!--Slider-->
        <div class="testimonials-slider column-carousel three-column">

            <!--Slide-->
            <article class="slide-item">
                <div class="quote"><span class="icon-left"></span></div>
                <div class="author">
                    <div class="img-box">
                        <a href="#"><img src="assets/images/resource/thumb1.png" alt=""></a>
                    </div>
                    <h4>Customer 1</h4>
                    <a href="#">
                        <p>Chennai</p>
                    </a>
                </div>

                <div class="slide-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt. </p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="quote"><span class="icon-left"></span></div>
                <div class="author">
                    <div class="img-box">
                        <a href="#"><img src="assets/images/resource/thumb2.png" alt=""></a>
                    </div>
                    <h4>Customer 1</h4>
                    <a href="#">
                        <p>Chennai</p>
                    </a>
                </div>

                <div class="slide-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt. </p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="quote"><span class="icon-left"></span></div>
                <div class="author">
                    <div class="img-box">
                        <a href="#"><img src="assets/images/resource/thumb3.png" alt=""></a>
                    </div>
                    <h4>Customer 1</h4>
                    <a href="#">
                        <p>Chennai</p>
                    </a>
                </div>

                <div class="slide-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt. </p>
                </div>
            </article>
        </div>

    </div>
</section>

  